@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}
body{
    background: hsl(218, 23%, 16%);
}
.advice_box{
    padding: 9rem;
    display: flex;
    justify-content: center;
}
.advice_box_csj{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 45%;
    height: 35vh;
    border-radius: 10px;
    background: hsl(217, 19%, 24%);
}
.advice_tit{
    display: flex;
    flex-direction: row;
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 15px;
}
#advice_box_txt{
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
}
.advice_img_desktop{
    position: relative;
    top: 3rem;
}
.advice_img_movil{
    display: none;
}
#advice_btn_neon{
    position: relative;
    top: 4.5rem;
    border: none;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 30px;
    background: hsl(150, 100%, 66%);
    cursor: pointer;
}
#advice_btn_neon:hover{
    box-shadow: 0px 0px 25px hsl(150, 100%, 66%);
}

@media screen and (max-width:800px){
    .advice_box{
        padding: 1rem;
        margin-bottom: 4rem;
    }
    .advice_box_csj{
        margin-top: 40%;
        width: 100%;
    }
    .advice_img_desktop{
        display: none;
    }
    .advice_img_movil{
        display: block;
        position: relative;
        top:4rem;
    }
    #advice_btn_neon{
        top:6rem;
    }
}